body {
    font-size: 18px;
    line-height:1.5;
    background-color: rgb(231, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header, nav, main,footer {
    margin: 1.5rem auto;
    max-width: 960px;
}


header {
    background-color:rgb(74, 136, 98) ;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    border-radius: 25px;
    width: 940px;
   
}

p img{
    float: right;
    margin-top : -350px;
    border: 1px solid rgb(105, 103, 103);
    width: 200px;
    height: 250px;

}
footer {
    background-color: rgb(74, 136, 98);
    color: #fff;
    text-align: center;
    border-radius: 15px;
}


.copyright {
    font-size: 16px;
    color: yellowgreen;
    margin-bottom: -20px;

}
div a {
    color: yellowgreen;  

}

.lastupdated {
    font-size: 12px;
}

@media screen and (max-width: 960px) { 
    body {
        font-size: 15px;    
    }
    p img {
        width: 100px;
        height: 150px;
        margin-top: -200px;
    }

    h1 {
        text-align: left;
    }
    footer {
        text-align: center;
    }
    
}

