@media only screen and (min-width: 35em) {



nav {
    
    background-color: #c9fab2;
    font-weight: bold;
}
      
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
}


nav ul li a {
    
    color: black;
    text-decoration: none;  
    padding: 0.8rem 1.8rem;
}

.navigation li {
    display: block;
    
}

.navigation li:first-child {
    display: none;
}

nav ul li .active a {
    background-color: rgba(0,0,0,0.2); 
    color: yellow;
    padding: 0.8rem 1.8rem;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    padding: 0.8rem 1.8rem;
  
}


.currentweather ul li {
    line-height: 1.2rem;
    text-align: center;
    margin: 0 20px 0 0;
}

.breserve button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    padding: 10px 30px;
}

.breserve button a {
    font-size: 25px;
}



.scootspics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    width: auto;
}

.suminfo {
    padding: 0 0 0 100px;
    font-size: 18px;
}

.suminfo h2 {
    text-align: left;
    
}


footer {
    font-size: 0.9rem;
}



}