body {
    font-family: 'Heebo', sans-serif;
    
}
header {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;

}

.namemotto {
    margin-top: 60px;
    line-height: 0.3rem;
    
}

.namemotto h1 {
    font-size: 50px;
    font-weight: bold; 
}

.namemotto p {
    font-weight: 200; 
}

main {
    background-color: white;
    margin: 0 auto;
   
  
 
}

/*----Navigation-----*/

nav {

    background-color: #c9fab2;
    padding: 0;
    font-weight: bold;
      
}

nav ul {
  
   list-style-type: none; 
   overflow: hidden;
   background-color: transparent;
   margin: 0;
   padding: 0;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;  
    padding: 0.8rem 1rem;
    text-align: center;
}


.ham {
    justify-content: center;
    color: black;
    font-size: 40px;
    font-weight: bolder;
}

.navigation li:first-child {
    display: block;
    
}
nav ul li .active a {
    background-color: rgba(0,0,0,0.2); 
    color: yellow;
    padding: 0.8rem 1.8rem;
}

.navigation li a:hover {
    background-color: rgba(0,0,0,0.2);
    color: yellow;
    padding: 0.8rem 1rem;
}

.navigation {
    padding: 0;
    justify-content: center;

}
.navigation a {
    display: block;
    
}

.navigation li {
    display: none;
 

}
.responsive li {
    display: block;
    
}

.active {
    background-color: rgba(0,0,0,0.2);
    padding: 0.8rem 1rem;

}



.currentweather {
    background-color: #e5e6e4;
    width: auto;
    border: 1px groove lightgray;
    
    
}

.currentweather h2 {
    text-align: center;
}


.currentweather ul {
    list-style-type: none;
   

}

.currentweather ul li {
    line-height: 1.8rem;
    text-align: center;
    margin: 0 20px 0 0;
}



.breserve button {
    
     text-align: center;
     padding: 15px 37px;
     background-color: #FAD3B3;
     width: 100%;
}

.breserve button a {

    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;

}

.myforecast {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: auto;
    border: 1px groove lightgray;
    text-align: center;
    
}

.myforecast table tr {
    background-color: #e5e6e4;
    border: 1px groove #e5e6e4; 
    
    
}

.scootspics a img{
    width: 100%;
}

.suminfo {
    background-color:#e5e6e4;
    border: 1px groove #e5e6e4; 
    
}

.suminfo h2 {
    text-align: center;

}

/*---------Rentals---------*/


.reantalsinfo section { 
    border: groove 2px darkgrey;
    background-color: rgb(243, 240, 197);
    padding: 12px;
    text-align: center;
}

.rentalsinfo section:nth-of-type(1) {
    order: 3;
}
.rentalsinfo section:nth-of-type(2) {
    order: 1;
}
.rentalsinfo section:nth-of-type(3) {
    order: 2;
}

.rentalsinfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border-style: none;

}

.rentalsinfo h3 {
    font-size: 0.8em;
}



footer {
    background-color: #c9fab2;
    text-align: center;
    padding: 1.2rem 1.5rem;
    font-size: 0.7rem;
}

.socialicon a img{
    width: 3rem;
    height: 3rem;
   
}