@media only screen and (min-width: 54em) {

body, main {

    font-size: 18px;

}

.message {
    display: none;
    border: 15px;
    margin: 0;
    background-color: #EEE5E5;
}


header {

    display: flex;
    margin: 0;
    padding: 10px 0;
    background-color: rgb(195, 248, 250);
    font-size: 25px;
    font-weight: bold;

    }

header img {
    margin-left: 200px;
}

nav ul li  {
    float: left;
    }
    

nav ul li a {
    border: none;
    margin: 0;
    list-style-type: none;
    padding: 0.8rem 1rem;
    font-size: 18px;
}

nav ul {
    margin-left: 105px;
}

nav {
    display: flex;
    flex-direction: row;
    background:#28AFB0;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}
.primarynav li {
    display: block;
    margin: 0 5px 0 80px;
    
}


.primarynav li:first-child {
    display: none;
}

nav ul li .active a {
    background-color: rgba(0,0,0,0.2); color:#fff;
    padding: 0.8rem 1rem;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    padding: 0.8rem 1rem;
}
/*Weather Gallery*/

main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
    margin: auto;

}

main .gallery h1 {
    text-align: left;
    grid-column: 1/4;
    margin-left: 8px;

}

figure {
    margin: 15px;
    padding: 0;
    box-shadow: 0 5px 8px 0 lightgrey;
}

figure:hover {
    box-shadow: 0 0 70px #333;
}

figure figcaption {
    font-size: 14px;
    padding: 8px;
}



.town {
    text-align: left;
    margin-left: 200px;
}

div .responsive {
    border-style: none;
}

picture .original {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.weathersummary {
    position: absolute;
    top: 300px;
    left: 80px;
    border-style: none;
    background-color: rgba(126, 134, 20);
    box-shadow: 0 0 15px grey;
    padding: 15px;
    color: white;
    
   
}

.weathersummary h3 {
    text-align: center;

}

.weathersummary ul li {
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}



main div {
    margin: 20px 200px;
    border-style: groove;
}

.forcast {
    display: block;
    width: auto;
    height: 200px;
    
}
.forcast h2 {
    display: block;
    text-align: center;
}

.fiveday {
    display: block;
    
}



.weathericons td img {
    width: 50px;
    height: 50px;
    margin: 10px 80px;

}



.contactinfo {
    justify-content: right;
    text-align: left;
    margin-left: 1000px;

}   

article h2 {
    padding: 15px;
}


.articleimg {
    float: right;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-style: none;
   
 }
 
/*------Form------*/

form fieldset {
    padding: 15px 25px;
    margin: 35px 100px;
}



form label.sinfor {
    display: block;
    padding: 15px 25px;
    font-size: 14px;
}

main h1.scenter {
    margin: 15px 0 5px 100px;
}


#sdate {
    font-size: 14px;
    padding: 5px 138px;
}


#stormtype{
    font-size: 14px;
    padding: 8px 135px;
}

#rating {
    padding: 5px 120px;
}

#region {
    font-size: 14px;
    padding: 5px 160px;
}


#comments {
    padding: 10px 35px;
}

input[type="submit"] {
    padding: 8px 35px;
    margin: 35px 100px;
}


/*--------------------*/


/* -----  Cards -------*/
.towncards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




.mapinfo {
    display: flex;
    flex-direction: row;
}
.mappic {
    display: flex;
    width: 200px;
    height: 150px;
}

.mapouter {
    position: absolute;
    height:300px;
    width:200px;
    margin-left: 300px;
    margin-top: 150px;  
   
}


}