
body {
    font-size: 12px;
    font-family: 'PT Serif', serif;

}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

main img {
    border-style: groove;
}

picture img[data-src] {
    filter: blur(0.3em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }