body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;   
}

h1 {
    font-size: 60px;
    color: Black;
    font-weight: bolder;
}

h2 {
    font-size: 32px;
    color: black;
    font-weight: bolder;
}

section {
    border: groove 2px darkgrey;
    background-color: lightgray;
    margin: 8px;
    padding: 12px;
}

img {
     width: auto;
     height:250px;
     margin: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

footer {
  font-weight: bolder;  
  padding: 15px;
}

@media only screen and (min-width: 35em) {

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
 
@media only screen and (min-width: 54em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
